body{
    background-color: rgb(22, 22, 22);

    #main-logo-div{
        display: flex;
        justify-content: center;
        height: 180px;
        align-items: center;
        #main-logo{
            height: 100px;
            width: 100px;

        }
    }

    main{

        #Top-Rated-PC-Games{

            header{
                width: 90%;
                margin: auto;
    
                h1{
                    color: white;
                    font-weight: bold;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 40px;
                }
                #line{
                    width: 100%;
                    height: 8px;
                    background-color: rgb(48, 48, 52);
                    border-radius: 8px;
                    margin-top: 10px;
                }
            }
            #Top-Rated-PC{
                margin: auto;
                margin-top: 10px;
                width: 90%;
                height: fit-content;
                border-radius: 15px;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: rgb(36, 36, 36);
                    border-radius: 8px;
                    margin-bottom: 20px;
                    width: 250px;
                    flex: 0 1 calc(18% - 50px );
                    height: 450px;
                    margin: 20px;
                }
                img{
                    width: 90%;
                    margin: 10px;
                }
                h3{
                    color: white;
                    font-size: 1.2em;
                    font-weight: 500;
                    margin: 10px;
                    margin-bottom: 20px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .view-more{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bottom: 0;
                    background-color: rgb(48, 48, 52);
                    height: 40px;
                    width: 150px;
                    border-radius: 10px;
                    margin: 8px;
                    b{
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        color: white;
                        font-weight: bold;
                        letter-spacing: 1.5px;
                    }
                }
                .view-more:hover{
                    background-color: white;
                    transition: 0.5s;
                    cursor: pointer;

                    b{
                        color: black;
                    }
                }
            }
        }
    }
}


@media(max-width: 580px){
    body{
        main{
            #Top-Rated-PC-Games{
                header{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
                #Top-Rated-PC{

                    .item{
                        flex: 0 1 calc(100% - 50px );
                        height: fit-content;
                        padding: 30px;
                    }
                    img{
                        width: 300px;;
                    }
                }
            }
        }
    }
}

@media(min-width: 580px) and (max-width: 1024px){
    body{
        main{
            #Top-Rated-PC-Games{
                header{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
                #Top-Rated-PC{
                    .item{
                        flex: 0 1 calc(40% - 50px );
                        height: fit-content;
                        padding: 30px;
                    }
                    
                    img{
                        width: 100%;
                        margin: 5px;
                    }
                }
            }
        }
    }
}