body{
    display: flex;
    flex-wrap: wrap;
    position: relative;

    b{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    header{
        position: relative;
        background-color: rgb(30, 30, 30);
        height: 9vh;
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 70px;

        #ListIcon{
            height: 30px;
            cursor: pointer;
            display: none;
            
        }

        b{
            color: white;
            font-weight: bold;
        }  
        #L-D-Frame{
            display: flex;
            align-items: center;
            width: 10%;
            justify-content: space-evenly;

            #main_logo_a{

                #main_logo{
                    max-height: 60px;
                }
            }
            #line{
                background-color: rgb(48, 48, 52,);
                height: 50px;
                width: 4px;
                border-radius: 2px;
            }
        }
       
        #items{
            width: 60%;
            display: flex;
            justify-content: space-around;
            
            
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                height: 40px;
                width: 110px;
                border-radius: 8px;
                transition: background-color 0.5s, color 0.5s;

                a{
                    color: white;
                    width: 90px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;                    
                }
            }

            .item:hover{
                background-color: white;
                color: black;
                border-radius: 8px;

                a{
                    color: black;
                }
            }
        }
        #search{
            input{
                padding: 15px;
                width: 300px;
                border-radius: 50px;
                background-color: rgb(32, 32, 32);
                border: 0px;
                color: white;
                letter-spacing: 1px;

            }
            input:focus{
                background-color: rgb(40, 40, 40);
                outline: 0px;
            }
        }

        #SearchIcon_mobile{
            display: none;
        }   

        #L-P-Frame{
            display: flex;
            flex-direction: row;
            width: 12%;
            justify-content: space-evenly;
            align-items: center;

            #LanguageIcon{
                height: 25px;
                cursor: pointer;
                padding: 5px;
                border-radius: 50%;
            }
            #LanguageIcon:hover{
                padding: 5px;
                background-color: rgb(100, 100, 100);
                border-radius: 50%;
                transition: 0.5s;
            }
            #ProfileIcon{
                height: 25px;
                cursor: pointer;
                border-radius: 50%;
                padding: 5px;
            }
            #ProfileIcon:hover{
                background-color: rgb(100, 100, 100);
                transition: 0.5s;
                border-radius: 50%;
                padding: 5px;
            }
            #SearchIcon_mobile_frame{   
                #searchMobile{
                    display: none;
                    transition: 0.3s;
                }
                #SearchIcon{
                    cursor: pointer;
                }
            }
            
        }
    }
    #divsThatDoesNotShowUntilClick{
        display: inline-block;
        position: relative;
        width: 100%;

        #ChangeLanguage{
            background-color: rgb(26, 26, 30);
            border-radius: 15px;
            width: 200px;
            height: 120px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 10px 20px;
            right: 0px;
            top: 0px;
            position: absolute;
            display: none;
            transition: 0.3s;
            z-index: 1000;

            #Georgian{
                background-color: rgb(36, 36, 36);
                padding: 10px ;
                border-radius: 15px;
                width: 180px;
                margin-bottom: 20px;
                cursor: pointer;
            }

            #Georgian:hover{
                background-color: rgb(50, 50, 50);
            }

            #English{
                width: 180px;
                padding: 10px; 
                border-radius: 15px;
                background-color: rgb(36, 36, 36);
                cursor: pointer;
            }

            #English:hover{
                background-color: rgb(50, 50, 50);

            }
            
            div{
                b{
                    font-weight: bold;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
        
        #profile{
            background-color: rgb(26, 26, 30);
            border-radius: 15px;
            width: 200px;
            height: 120px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 10px 20px;
            right: 0px;
            top: 0px;
            position: absolute;
            display: none;
            transition: 0.3s;
            z-index: 1000;
            

            #Registration{
                background-color: rgb(36, 36, 36);
                padding: 10px ;
                border-radius: 15px;
                width: 180px;
                margin-bottom: 20px;
                color: white;

                #reg-link {
                    position: sticky;
                    z-index: 9;
                }
            }
            #Registration:hover{
                background-color: rgb(50, 50, 50);
                
            }

            #Log-in{
                width: 180px;
                padding: 10px; 
                border-radius: 15px;
                background-color: rgb(36, 36, 36);
                color: white;

                #log-link{
                    position: relative;
                    z-index: 9;
                }
            }
            #Log-in:hover{
                background-color: rgb(50, 50, 50);
            }
            div{
                b{
                    font-weight: bold;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
        #menu{
            position: absolute;
            background-color: rgb(26, 26, 30);
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            color: white;
            width: 400px;
            height: fit-content;
            margin: 10px;
            display: none;
            transition: 0.3s;
            z-index: 1000;

            .menu_div{
                margin: 20px;
                background-color: rgb(36, 36, 36);
                border-radius: 15px;

                b{
                    font-weight: bold;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    a{
                        color: white;
                        width: 95%;
                        padding: 20px 0px 20px 15px ;
                    }
                }
            }

            .menu_div:hover{
                background-color: rgb(50, 50, 50);
            }

            .autorisation-div{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-bottom: 20px;
            
                .mob-reg-divs{
                    display: flex;
                    text-align: center;
                    background-color: rgb(36, 36, 36);
                    width: 40%;
                    border-radius: 15px;

                    a{
                        padding: 20px 0px 20px 0px;
                        width: 100%;
                        color: white;
                        font-weight: bold;
                    }
                }
                
                .mob-reg-divs:hover{
                    background-color: white;

                    a{
                        color: black;
                    }
                }
            }
            .ChangeLanguage-mobile{
                height: 60px;
                width: 90%;
                margin: auto;
                display: flex;
                justify-content: space-between;

                #GE{
                    display: flex;
                    background-color: rgb(36, 36, 36);
                    border-radius: 15px;
                    width: 45%;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    a{
                        b{
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: bold;

                        }
                    }
                }
                #GE:hover{
                    background-color: white;
                    a{
                        b{
                            color: black;
                        }
                    }
                }
                #EN{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(36, 36, 36);
                    border-radius: 15px;
                    width: 45%;
                    cursor: pointer;

                    a{
                        b{
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            font-weight: bold;
                        }
                    }
                }
                #EN:hover{
                    background-color: white;
                    a{
                        b{
                            color:  black;
                        }
                    }
                }

                
            }
        }
    }
    main{
        width: 100%;
        background-color: rgb(22, 22, 22);


        .slider{
            width: 1300px;
            max-width: 100%;
            height: 700px;
            margin: auto;
            position: relative;
            overflow: hidden;
            border-radius: 18px;
            margin-top: 20px;
            margin-bottom: 20px;

            .list{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: flex;
                width: max-content;
                transition: 1s;

                img{
                    width: 1300px;
                    max-width: 100vw;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .buttons{
                position: absolute;
                top: 45%;
                left: 5%;
                width: 90%;
                display: flex;
                justify-content: space-between;

                button{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #fff5;
                    color: #fff;
                    border: none;
                    font-family: monospace;
                    font-weight: bold;
                }
            }
            .dots{
                position: absolute;
                bottom: 10px;
                color: #fff;
                left: 0;
                width: 100%;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;

                li{
                    list-style: none;
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    margin: 20px;
                    border-radius: 20px;
                    transition: 1s;

                }
                .active{
                    width: 30px;
                }
            }
        }
        .best-of-2024{
            display: flex;
            justify-content: center;
            min-height: 500px;
            background-color: rgb(12, 12, 12);
            position: relative;
            width: 100%;

            #best-of-2024-header{
                display: flex;
                flex-direction: column;
                top: 30px;
                left: 30px;
                position: absolute;
                z-index: 1000;

                h1{
                    margin-bottom: 10px;
                    b{
                        color: white;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        font-weight: bold;
                        font-size: 25px;
                    }
                }
                
                #vertical-line{
                    width: 180px;
                    height: 5px;
                    border-radius: 5px;
                    background-color: rgb(48, 48, 52,);
                }
            }
           
            .container {
                background-color: rgb(30, 30, 30);
                padding: 30px;
                max-width: 1600px;
                width: 85%;
                margin-top: 100px;
                margin-bottom: 30px;
              }
              
              .slider-wrapper {
                position: relative;
                
              }
              .slider-wrapper .slide-button {
                button{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #fff5;
                    color: #fff;
                    border: none;
                    font-family: monospace;
                    font-weight: bold;
                }
                position: absolute;
                top: 50%;
                outline: none;
                height: 50px;
                width: 50px;
                z-index: 5;
                display: flex;
                cursor: pointer;
                font-size: 1em;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transform: translateY(-50%);
                background-color: rgb(50, 50, 50);
                color: #fff;
                border: none;
                font-family: monospace;
                font-weight: bold;

              }
              .slider-wrapper .slide-button:hover {
                background-color: rgb(100, 100, 100);
              }
              .slider-wrapper .slide-button#prev-slide {
                left: -25px;
                display: none;
              }
              .slider-wrapper .slide-button#next-slide {
                right: -25px;
              }
              .slider-wrapper .image-list {
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                gap: 18px;
                font-size: 0;
                list-style: none;
                margin-bottom: 30px;
                overflow-x: auto;
                scrollbar-width: none;
              }
              .slider-wrapper .image-list::-webkit-scrollbar {
                display: none;
              }
              .slider-wrapper .image-list .image-item {
                width: 325px;
                object-fit: cover;
              }
              .container .slider-scrollbar {
                height: 24px;
                width: 100%;
                display: flex;
                align-items: center;
              }
              .slider-scrollbar .scrollbar-track {
                background: #ccc;
                width: 100%;
                height: 2px;
                display: flex;
                align-items: center;
                border-radius: 4px;
                position: relative;
              }
              .slider-scrollbar:hover .scrollbar-track {
                height: 4px;
              }
              .slider-scrollbar .scrollbar-thumb {
                position: absolute;
                background: #000;
                top: 0;
                bottom: 0;
                width: 50%;
                height: 100%;
                cursor: grab;
                border-radius: inherit;
              }
              .slider-scrollbar .scrollbar-thumb:active {
                cursor: grabbing;
                height: 8px;
                top: -2px;
              }
              .slider-scrollbar .scrollbar-thumb::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -10px;
                bottom: -10px;
              }
        }

    }
    footer{
        height: 300px;
        width: 100%;
        background-color: rgb(30, 30, 30);

        #logo{
            display: flex;
            justify-content: center;

            img{
                height: 100px;
                width: 100px;
                margin-top: 20px;
                cursor: pointer;
            }
        }

        #footer-wrapper{
            display: flex;
            justify-content: space-around;

            .footer-div{
                width: 30%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                margin-top: 20px;

                #links{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    margin-top: 20px;
                    a{
                        width: 50px;
    
                        .footer-imgs{
                            height: 50px;
                            
                        }
                    }
                }
               
            }
        }

        h2{
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 600;
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
    }
}


@media(max-width:1024px){
    body{
        header{
            display: flex;
            justify-content: space-between;
            position: relative;
            #ListIcon{
                display: flex;
                margin-left: 3%;
            }
            

            #L-P-Frame{
                width: fit-content;
                display: flex;
                justify-content: space-around;
                width: 35%;
                margin-right: 3%;

                #LanguageIcon{
                    display: none;
                }

                #ProfileIcon{
                    display: none;
                }

                #SearchIcon_mobile_frame{  
                    width: 100%; 
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;

                    #searchMobile{
                        padding: 15px;
                        border-radius: 50px;
                        background-color: rgb(32, 32, 32);
                        width: 100%;
                        border: 0px;
                        color: white;
                        letter-spacing: 1px;
                        display: none;
                    }
                    #SearchIcon_mobile{
                        cursor: pointer;
                    }
                }

                img{
                    margin: 5px;
                }
            }
            #L-D-Frame{
                width: 128px;
                justify-content: center;

                #main_logo_a{
                    #main_logo{
                        position: absolute;
                        top: 6px;
                        left: 50%;
                        transform: translateX(-50%);
                        
                    }
                }
                
                #line{
                    display: none;
                }
            }

            #SearchIcon_mobile{
                align-items: center;
                display: flex;
                height: 30px;
                margin-right: 3%;
            }
            #items{
                display: none;
            }
            #search{
                display: none;
            }
        }
    }
}

@media(max-width: 580px){
    .slider{
        height: 400px;
        margin-top: 20px;
        max-width: 100%;
    }

}
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }
